service/src/main/resources/EDI-Crop-CroppingAdvice_v4_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Conny Graumans (EDI Agro Vereniging) -->
<!-- 120413, CG: eerste aanzet.>-->
<!-- 121005, CG: correcties doorgevoerd, zie issuelog>-->
<!-- 121220, CG: "FarmClassification" van 1 naar n, "AllowedPhoshhateTotal" gecorrigeerd naar "AllowedPhosphateTotal"-->
<!-- 121220, CG: onder ExactTiming, <CropStage> gewijzigd van TextType naar CodeType-->
<!-- 121220, CG: onder "ProductAllocation" "ThirdPartyAllocationID", "BatchThirdPartyID" en "Area" toegevoegd-->
<!-- 121221, CG: onder "CropField" voor "Operation" "minOccurs="0" toegevoegd-->
<!-- 130520, CG: Polygon is Border geworden-->
<!-- 130530, CG: crop: verandert in crpa:-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:crpa="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/EDI-Crop-CroppingAdvice_v4_0" 
	xmlns:cdt="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/SimpleTypes_EDI-Crop_v4_0" 
	xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:9" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:9" 
	targetNamespace="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/EDI-Crop-CroppingAdvice_v4_0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="8.0">
	<xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" schemaLocation="http://www.unece.org/uncefact/data/standard/UnqualifiedDataType_10p0.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:9" schemaLocation="http://www.unece.org/uncefact/data/standard/QualifiedDataType_9p0.xsd"/>
	<xsd:import namespace="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/SimpleTypes_EDI-Crop_v4_0" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/SimpleTypes_EDI-Crop_v4_0.xsd"/>
	<xsd:element name="CroppingAdviceMessage" type="crpa:CroppingAdviceMessageType"/>
	<xsd:complexType name="AbstractRingPropertyType">
		<xsd:sequence>
			<xsd:element name="LinearRing" type="crpa:LinearRingType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdvisedMineralsFarmType">
		<xsd:sequence>
			<xsd:element name="AdvisedNitrogenOrganic" type="cdt:Decimal12Type"/>
			<xsd:element name="AdvisedNitrogenTotal" type="cdt:Decimal12Type"/>
			<xsd:element name="AdvisedPhosphateOrganic" type="cdt:Decimal12Type"/>
			<xsd:element name="AdvisedPhosphateTotal" type="cdt:Decimal12Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AllowedMineralsFarmType">
		<xsd:sequence>
			<xsd:element name="AllowedNitrogenOrganic" type="cdt:Decimal12Type"/>
			<xsd:element name="AllowedNitrogenTotal" type="cdt:Decimal12Type"/>
			<xsd:element name="AllowedPhosphateOrganic" type="cdt:Decimal12Type"/>
			<xsd:element name="AllowedPhosphateTotal" type="cdt:Decimal12Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompositionType">
		<xsd:sequence>
			<xsd:element name="ProductElementID" type="udt:IDType"/>
			<xsd:element name="ProductElementDesignator" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Quantity" type="cdt:Decimal8_2Type"/>
			<xsd:element name="ConcentrationCode" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactPersonType">
		<xsd:sequence>
			<xsd:element name="FamilyName" type="udt:TextType"/>
			<xsd:element name="GivenName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="FamilyNamePrefix" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Title" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CroppingAdviceMessageType">
		<xsd:sequence>
			<xsd:element name="ExchangedDocument" type="crpa:DocumentType"/>
			<xsd:element name="Farm" type="crpa:FarmType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CropFieldType">
		<xsd:sequence>
			<xsd:element name="CropFieldID" type="udt:IDType"/>
			<xsd:element name="CropFieldDesignator" type="udt:TextType"/>
			<xsd:element name="ThirdPartyCropFieldID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BeginDate" type="udt:DateTimeType"/>
			<xsd:element name="EndDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="Country" type="udt:CodeType"/>
			<xsd:element name="GLN" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="Area" type="cdt:Decimal10_2Type"/>
			<xsd:element name="RegulatorySoiltypeCode" type="udt:CodeType"/>
			<xsd:element name="CropTypeCode" type="udt:CodeType"/>
			<xsd:element name="VarietyCode" type="udt:CodeType"/>
			<xsd:element name="ProductionTypeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="CropProductionPurposeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="CropProductionSequence" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="CropProductionPeriodCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="PrecedingCropField" type="crpa:PrecedingCropFieldType" minOccurs="0"/>
			<xsd:element name="Border" type="crpa:PolygonType" minOccurs="0"/>
			<xsd:element name="NutrientBalanceCrop" type="crpa:NutrientBalanceCropType" minOccurs="0"/>
			<xsd:element name="Operation" type="crpa:OperationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DirectPositionListType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="srsName"/>
				<xsd:attribute name="srsDimension"/>
				<xsd:attribute name="axisLabels"/>
				<xsd:attribute name="uomLabels"/>
				<xsd:attribute name="count"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentType">
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"/>
			<xsd:element name="Type" type="cdt:MessageTypeType"/>
			<xsd:element name="EdiCropVersion" type="cdt:EdiCropVersionType"/>
			<xsd:element name="MessageTypeVersion" type="cdt:MessageTypeVersionType"/>
			<xsd:element name="IssueDate" type="udt:DateTimeType"/>
			<xsd:element name="AdviseDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="CropYear" type="cdt:Decimal4Type"/>
			<xsd:element name="ReportCount" type="udt:NumericType" minOccurs="0"/>
			<xsd:element name="Description" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="LineItem" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Issuer" type="crpa:SpecifiedPartyType"/>
			<xsd:element name="Sender" type="crpa:SpecifiedPartyType"/>
			<xsd:element name="Receiver" type="crpa:SpecifiedPartyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmailCommunicationType">
		<xsd:sequence>
			<xsd:element name="URIID" type="udt:IDType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExactTimingType">
		<xsd:sequence>
			<xsd:element name="BeginDate" type="udt:DateTimeType"/>
			<xsd:element name="EndDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="CropStage" type="udt:CodeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FarmClassificationType">
		<xsd:sequence>
			<xsd:element name="ClassificationCode" type="udt:CodeType"/>
			<xsd:element name="ClassificationIndicator" type="cdt:YesNoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FarmType">
		<xsd:sequence>
			<xsd:element name="FarmContact" type="crpa:SpecifiedPartyType"/>
			<xsd:element name="PreferredSupplierIdRef" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="ThirdPartyFarmID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="FarmClassification" type="crpa:FarmClassificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PhosphateCondition" type="crpa:PhosphateConditionType"/>
			<xsd:element name="InputQuotaFarm" type="crpa:AllowedMineralsFarmType" minOccurs="0"/>
			<xsd:element name="AdvisedMineralsFarm" type="crpa:AdvisedMineralsFarmType" minOccurs="0"/>
			<xsd:element name="NutrientBalanceFarm" type="crpa:NutrientBalanceFarmType" minOccurs="0"/>
			<xsd:element name="Field" type="crpa:FieldType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FieldType">
		<xsd:sequence>
			<xsd:element name="FieldID" type="udt:IDType"/>
			<xsd:element name="FieldDesignator" type="udt:TextType"/>
			<xsd:element name="ThirdPartyFieldID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BeginDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="EndDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="Area" type="cdt:Decimal10_2Type"/>
			<xsd:element name="SamplingProtocol" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Pal" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Pw" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="AboveAveragePotatoes" type="cdt:YesNoType" minOccurs="0"/>
			<xsd:element name="AboveAverageSugarbeet" type="cdt:YesNoType" minOccurs="0"/>
			<xsd:element name="Border" type="crpa:PolygonType" minOccurs="0"/>
			<xsd:element name="CropField" type="crpa:CropFieldType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GUIDType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="IssuingAgency" type="cdt:IssuingAgencyType"/>
				<xsd:attribute name="EnterpriseID" type="cdt:EnterpriseIDType"/>
				<xsd:attribute name="ItemIdType" type="cdt:ItemIdTypeType"/>
				<xsd:attribute name="ItemIdNumber" type="cdt:ItemIdNumberType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LinearRingType">
		<xsd:sequence>
			<xsd:element name="posList" type="crpa:DirectPositionListType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NutrientBalanceCropType">
		<xsd:sequence>
			<xsd:element name="AllowedNitrogenTotal" type="cdt:Decimal12Type"/>
			<xsd:element name="AllowedPhosphateTotal" type="cdt:Decimal12Type"/>
			<xsd:element name="AllowedPhosphateOrganic" type="cdt:Decimal12Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NutrientBalanceFarmType">
		<xsd:sequence>
			<xsd:element name="BalanceNitrogenOrganic" type="cdt:Decimal12Type"/>
			<xsd:element name="BalanceNitrogenTotal" type="cdt:Decimal12Type"/>
			<xsd:element name="BalancePhosphateOrganic" type="cdt:Decimal12Type"/>
			<xsd:element name="BalancePhosphateTotal" type="cdt:Decimal12Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OperationType">
		<xsd:sequence>
			<xsd:element name="OperationID" type="udt:IDType"/>
			<xsd:element name="ThirdPartyOperationID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OperationStage" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="CulturalPracticeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="OperationTechniqueCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="ExactTiming" type="crpa:ExactTimingType" minOccurs="0"/>
			<xsd:element name="RelativeTiming" type="crpa:RelativeTimingType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TreatmentZone" type="crpa:TreatmentZoneType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyContactType">
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"/>
			<xsd:element name="PersonName" type="udt:TextType"/>
			<xsd:element name="DepartmentName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="JobTitle" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Responsibility" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Type" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="AdditionalIdentification" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Telephone" type="crpa:SpecifiedCommunicationType" minOccurs="0"/>
			<xsd:element name="MobileTelephone" type="crpa:SpecifiedCommunicationType" minOccurs="0"/>
			<xsd:element name="Fax" type="crpa:SpecifiedCommunicationType" minOccurs="0"/>
			<xsd:element name="Email" type="crpa:SpecifiedCommunicationType" minOccurs="0"/>
			<xsd:element name="ContactPerson" type="crpa:ContactPersonType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhosphateConditionType">
		<xsd:sequence>
			<xsd:element name="ArablelandPhosphatePoor" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="ArablelandPhosphateLow" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="ArablelandPhosphateNeutral" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="ArablelandPhosphateHigh" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="GrasslandPhosphatePoor" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="GrasslandPhosphateLow" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="GrasslandPhosphateNeutral" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="GrasslandPhosphateHigh" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="PhosphateTransferOrganicNextYear" type="cdt:Decimal12Type" minOccurs="0"/>
			<xsd:element name="PhosphateTransferTotalNextYear" type="cdt:Decimal12Type" minOccurs="0"/>
			<xsd:element name="PhosphateTransferOrganicPreviousYear" type="cdt:Decimal12Type" minOccurs="0"/>
			<xsd:element name="PhosphateTransferTotalPreviousYear" type="cdt:Decimal12Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PolygonType">
		<xsd:sequence>
			<xsd:element name="exterior" type="crpa:AbstractRingPropertyType"/>
			<xsd:element name="interior" type="crpa:AbstractRingPropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrecedingCropFieldType">
		<xsd:sequence>
			<xsd:element name="PrecedingCropFieldID" type="udt:IDType"/>
			<xsd:element name="Area" type="cdt:Decimal10_2Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductAllocationType">
		<xsd:sequence>
			<xsd:element name="ProductAllocationID" type="udt:IDType"/>
			<xsd:element name="ThirdPartyAllocationID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ProductCode" type="udt:CodeType"/>
			<xsd:element name="Quantity" type="crpa:QuantityType"/>
			<xsd:element name="BatchID" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="BatchThirdPartyID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Area" type="cdt:Decimal10_2Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductTypeType">
		<xsd:sequence>
			<xsd:element name="ProductTypeIDRef" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="ProductTypeName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="RegulatoryWorkingCoefficient" type="cdt:Decimal8_2Type" minOccurs="0"/>
			<xsd:element name="AgronomicWorkingCoefficient" type="cdt:Decimal8_2Type" minOccurs="0"/>
			<xsd:element name="Quantity" type="crpa:QuantityType" minOccurs="0"/>
			<xsd:element name="AmountPerAreaUnit" type="crpa:QuantityType" minOccurs="0"/>
			<xsd:element name="Composition" type="crpa:CompositionType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QuantityType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="unitCode" type="cdt:unitCodeType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ReferencedCountryType">
		<xsd:sequence>
			<xsd:element name="Name" type="udt:TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RelativeTimingType">
		<xsd:sequence>
			<xsd:element name="RelativeNumberOfDaysMin" type="udt:DateTimeType"/>
			<xsd:element name="RelativeNumberOfDaysMax" type="udt:DateTimeType"/>
			<xsd:element name="RefCulturalPracticeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="RefTemperatureSum" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="RefCropStage" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecifiedPartyType">
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"/>
			<xsd:element name="Name" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Country" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="PostalAddress" type="crpa:StructuredAddressType" minOccurs="0"/>
			<xsd:element name="VisitorsAddress" type="crpa:StructuredAddressType" minOccurs="0"/>
			<xsd:element name="PartyContact" type="crpa:PartyContactType" minOccurs="0"/>
			<xsd:element name="Website" type="crpa:SpecifiedCommunicationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecifiedCommunicationType">
		<xsd:sequence>
			<xsd:element name="URI" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="CompleteNumber" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StructuredAddressType">
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="PostcodeCode" type="udt:CodeType"/>
			<xsd:element name="BuildingName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="StreetName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="CityName" type="udt:TextType"/>
			<xsd:element name="Country" type="qdt:CountryIDType"/>
			<xsd:element name="CountryName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="PostOfficeBox" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecifiedClassificationType">
		<xsd:sequence>
			<xsd:element name="ClassCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="ClassName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="CountryID" type="udt:IDType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TreatmentZoneType">
		<xsd:sequence>
			<xsd:element name="TreatmentZoneID" type="udt:IDType"/>
			<xsd:element name="ThirdPartyTreatmentZoneID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Area" type="cdt:Decimal10_2Type" minOccurs="0"/>
			<xsd:element name="Border" type="crpa:PolygonType" minOccurs="0"/>
			<xsd:element name="ProductAllocation" type="crpa:ProductAllocationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
