service/src/main/resources/WSDL_WS-EDI-Crop.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions targetNamespace="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Crop/v4_0/" 
			 xmlns:tns="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Crop/v4_0/" 
			 xmlns:wsdltypes="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Crop/v4_0/XSD_WS-EDI-Crop" 
			 xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			 xmlns:schema="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Crop/v4_0/" 
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
	<xsd:annotation>
		<xsd:documentation>
          28mei13 Conny Graumans: eerste versie opgeleverd naar voorbeeld van WS-EDI-Pigs.
		</xsd:documentation>
	</xsd:annotation>
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Crop/v4_0/XSD_WS-EDI-Crop" schemaLocation="XSD_WS-EDI-Crop.xsd"/>
		</schema>
	</types>

	<message name="getCroppingSchemeRequestMsg"><part name="payload" element="wsdltypes:getCroppingSchemeRequest"/></message>
	<message name="getCroppingSchemeResponseMsg"><part name="payload" element="wsdltypes:getCroppingSchemeResponse"/></message>
	<message name="getCropRecordingRequestMsg"><part name="payload" element="wsdltypes:getCropRecordingRequest"/></message>
	<message name="getCropRecordingResponseMsg"><part name="payload" element="wsdltypes:getCropRecordingResponse"/></message>

	<portType name="EdiPortType">
		<operation name="getCroppingScheme">
			<input message="tns:getCroppingSchemeRequestMsg"/>
			<output message="tns:getCroppingSchemeResponseMsg"/>
		</operation>
		<operation name="getCropRecording">
			<input message="tns:getCropRecordingRequestMsg"/>
			<output message="tns:getCropRecordingResponseMsg"/>
		</operation>
		<!--  
		<operation name="putCroppingScheme">
			<input message="tns:putCroppingSchemeRequestMsg"/>
			<output message="tns:putCroppingSchemeResponseMsg"/>
		</operation>
		-->
	</portType>
	<binding name="EdiSoapBinding" type="tns:EdiPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getCroppingScheme">
			<soap:operation style="document" soapAction="getCroppingScheme"/>
			<input><soap:body use="literal" parts="payload"/></input>
			<output><soap:body use="literal"/></output>
		</operation>
		<operation name="getCropRecording">
			<soap:operation style="document" soapAction="getCropRecording"/>
			<input><soap:body use="literal" parts="payload"/></input>
			<output><soap:body use="literal"/></output>
		</operation>
	</binding>
	<service name="EdiService">
		<port name="Edi" binding="tns:EdiSoapBinding">
			<soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://localhost/WSTest/WsEDICropV40.asmx"/>
		</port>
	</service>
</definitions>
