simple/resources/EDI-Crop-CroppingScheme_v4_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Conny Graumans (EDI Agro Vereniging) -->
<!-- versie 5sep13-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:crps="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/EDI-Crop-CroppingScheme_v4_0" xmlns:cdt="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/SimpleTypes_EDI-Crop_v4_0" xmlns:gmlc="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/GML_Types_EDI-Crop_v4_0" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" xmlns:ccts="urn:un:unece:uncefact:identifierlist:standard:5:ISO316612A:SecondEdition2006VI-8" targetNamespace="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/EDI-Crop-CroppingScheme_v4_0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="8.0">
	<xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" schemaLocation="UnqualifiedDataType_10p0.xsd"/>
	<xsd:import namespace="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/SimpleTypes_EDI-Crop_v4_0" schemaLocation="SimpleTypes_EDI-Crop_v4_0.xsd"/>
	<xsd:import namespace="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/GML_Types_EDI-Crop_v4_0" schemaLocation="GML_Types_EDI-Crop_v4_0.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:identifierlist:standard:5:ISO316612A:SecondEdition2006VI-8" schemaLocation="ISO_ISOTwoletterCountryCode_SecondEdition2006VI-8.xsd"/>
	<xsd:element name="CroppingSchemeMessage" type="crps:CroppingSchemeMessageType"/>
	<xsd:complexType name="AdvisedMineralsFarmType">
		<xsd:sequence>
			<xsd:element name="AdvisedNitrogenOrganic" type="crps:MeasureType"/>
			<xsd:element name="AdvisedNitrogenTotal" type="crps:MeasureType"/>
			<xsd:element name="AdvisedPhosphateOrganic" type="crps:MeasureType"/>
			<xsd:element name="AdvisedPhosphateTotal" type="crps:MeasureType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AllocationType">
		<xsd:sequence>
			<xsd:element name="AllocationType" type="udt:CodeType"/>
			<xsd:element name="AllocationID" type="udt:IDType"/>
			<xsd:element name="ProductCode" type="udt:CodeType"/>
			<xsd:element name="Quantity" type="crps:MeasureType"/>
			<xsd:element name="BatchID" type="udt:IDType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AllowedMineralsFarmType">
		<xsd:sequence>
			<xsd:element name="AllowedNitrogenOrganic" type="crps:MeasureType"/>
			<xsd:element name="AllowedNitrogenTotal" type="crps:MeasureType"/>
			<xsd:element name="AllowedPhosphateOrganic" type="crps:MeasureType"/>
			<xsd:element name="AllowedPhosphateTotal" type="crps:MeasureType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompositionType">
		<xsd:sequence>
			<xsd:element name="ProductElementID" type="udt:IDType"/>
			<xsd:element name="ProductElementDesignator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Quantity" type="crps:MeasureType"/>
			<xsd:element name="ConcentrationCode" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactPersonType">
		<xsd:sequence>
			<xsd:element name="FamilyName" type="udt:TextType"/>
			<xsd:element name="GivenName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="FamilyNamePrefix" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Title" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CroppingSchemeMessageType">
		<xsd:sequence>
			<xsd:element name="ExchangedDocument" type="crps:DocumentType"/>
			<xsd:element name="Farm" type="crps:FarmType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CropFieldType">
		<xsd:sequence>
			<xsd:element name="CropFieldID" type="udt:IDType"/>
			<xsd:element name="CropFieldDesignator" type="xsd:string"/>
			<xsd:element name="ThirdPartyCropFieldID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BeginDate" type="udt:DateTimeType"/>
			<xsd:element name="EndDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="Country" type="ccts:ISOTwoletterCountryCodeIdentifierContentType"/>
			<xsd:element name="Area" type="crps:MeasureType"/>
			<xsd:element name="RegulatorySoiltypeCode" type="udt:CodeType"/>
			<xsd:element name="CropTypeCode" type="udt:CodeType"/>
			<xsd:element name="VarietyCode" type="udt:CodeType"/>
			<xsd:element name="ProductionTypeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="CropProductionPurposeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="CropProductionSequence" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="PrecedingCropField" type="crps:PrecedingCropFieldType" minOccurs="0"/>
			<xsd:element name="Border" type="gmlc:PolygonType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentType">
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"/>
			<xsd:element name="Type" type="cdt:MessageTypeType"/>
			<xsd:element name="EdiCropVersion" type="cdt:EdiCropVersionType"/>
			<xsd:element name="MessageTypeVersion" type="cdt:MessageTypeVersionType"/>
			<xsd:element name="IssueDate" type="udt:DateTimeType"/>
			<xsd:element name="AdviseDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="CropYear" type="cdt:Decimal4Type"/>
			<xsd:element name="ReportCount" type="udt:NumericType" minOccurs="0"/>
			<xsd:element name="Description" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="LineItem" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Issuer" type="crps:SpecifiedPartyType"/>
			<xsd:element name="Sender" type="crps:SpecifiedPartyType"/>
			<xsd:element name="Receiver" type="crps:SpecifiedPartyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmailCommunicationType">
		<xsd:sequence>
			<xsd:element name="URIID" type="udt:IDType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AbsoluteTimingType">
		<xsd:sequence>
			<xsd:element name="BeginDate" type="udt:DateTimeType"/>
			<xsd:element name="EndDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="CropStage" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FarmClassificationType">
		<xsd:sequence>
			<xsd:element name="ClassificationCode" type="udt:CodeType"/>
			<xsd:element name="ClassificationIndicator" type="cdt:YesNoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FarmType">
		<xsd:sequence>
			<xsd:element name="FarmID" type="udt:IDType"/>
			<xsd:element name="FarmDesignator" type="xsd:string"/>
			<xsd:element name="FarmContact" type="crps:SpecifiedPartyType" minOccurs="0"/>
			<xsd:element name="PreferredSupplierIdRef" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="ThirdPartyFarmID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="FarmClassification" type="crps:FarmClassificationType"/>
			<xsd:element name="Field" type="crps:FieldType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FieldType">
		<xsd:sequence>
			<xsd:element name="FieldID" type="udt:IDType"/>
			<xsd:element name="FieldDesignator" type="xsd:string"/>
			<xsd:element name="ThirdPartyFieldID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BeginDate" type="udt:DateTimeType"/>
			<xsd:element name="EndDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="Area" type="crps:MeasureType"/>
			<xsd:element name="RegulatorySoiltypeCode" type="udt:CodeType"/>
			<xsd:element name="RegularOrOrganicCode" type="udt:CodeType"/>
			<xsd:element name="SamplingProtocol" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Pal" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Pw" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="AboveAveragePotatoes" type="cdt:YesNoType" minOccurs="0"/>
			<xsd:element name="AboveAverageSugarbeet" type="cdt:YesNoType" minOccurs="0"/>
			<xsd:element name="Border" type="gmlc:PolygonType" minOccurs="0"/>
			<xsd:element name="CropField" type="crps:CropFieldType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GUIDType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="IssuingAgency" type="cdt:IssuingAgencyType"/>
				<xsd:attribute name="EnterpriseID" type="cdt:EnterpriseIDType"/>
				<xsd:attribute name="ItemIdType" type="cdt:ItemIdTypeType"/>
				<xsd:attribute name="ItemIdNumber" type="cdt:ItemIdNumberType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeasureType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NutrientBalanceCropType">
		<xsd:sequence>
			<xsd:element name="AllowedNitrogenTotal" type="crps:MeasureType"/>
			<xsd:element name="AllowedPhoshhateTotal" type="crps:MeasureType"/>
			<xsd:element name="AllowedPhosphateOrganic" type="crps:MeasureType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NutrientBalanceFarmType">
		<xsd:sequence>
			<xsd:element name="BalanceNitrogenOrganic" type="crps:MeasureType"/>
			<xsd:element name="BalanceNitrogenTotal" type="crps:MeasureType"/>
			<xsd:element name="BalancePhosphateOrganic" type="crps:MeasureType"/>
			<xsd:element name="BalancePhosphateTotal" type="crps:MeasureType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OperationType">
		<xsd:sequence>
			<xsd:element name="OperationID" type="udt:IDType"/>
			<xsd:element name="ThirdPartyOperationID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OperationStage" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="CulturalPracticeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="OperationTechniqueCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="AbsoluteTiming" type="crps:AbsoluteTimingType" minOccurs="0"/>
			<xsd:element name="RelativeTiming" type="crps:RelativeTimingType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TreatmentZone" type="crps:TreatmentZoneType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyContactType">
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"/>
			<xsd:element name="PersonName" type="udt:TextType"/>
			<xsd:element name="DepartmentName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="JobTitle" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Responsibility" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Type" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="AdditionalIdentification" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Telephone" type="crps:SpecifiedCommunicationType" minOccurs="0"/>
			<xsd:element name="MobileTelephone" type="crps:SpecifiedCommunicationType" minOccurs="0"/>
			<xsd:element name="Fax" type="crps:SpecifiedCommunicationType" minOccurs="0"/>
			<xsd:element name="Email" type="crps:SpecifiedCommunicationType" minOccurs="0"/>
			<xsd:element name="ContactPerson" type="crps:ContactPersonType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhosphateConditionType">
		<xsd:sequence>
			<xsd:element name="ArablelandPhosphatePoor" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="ArablelandPhosphateLow" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="ArablelandPhosphateNeutral" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="ArablelandPhosphateHigh" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="GrasslandPhosphatePoor" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="GrasslandPhosphateLow" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="GrasslandPhosphateNeutral" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="GrasslandPhosphateHigh" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="PhosphateTransferOrganicNextYear" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="PhosphateTransferTotalNextYear" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="PhosphateTransferOrganicPreviousYear" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="PhosphateTransferTotalPreviousYear" type="crps:MeasureType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrecedingCropFieldType">
		<xsd:sequence>
			<xsd:element name="PrecedingCropFieldID" type="udt:IDType"/>
			<xsd:element name="Area" type="crps:MeasureType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductTypeType">
		<xsd:sequence>
			<xsd:element name="AllocationType" type="udt:CodeType"/>
			<xsd:element name="ProductTypeIDRef" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="ProductTypeName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="RegulatoryWorkingCoefficient" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="AgronomicWorkingCoefficient" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="Quantity" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="AmountPerAreaUnit" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="Composition" type="crps:CompositionType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RelativeTimingType">
		<xsd:sequence>
			<xsd:element name="RelativeNumberOfDaysMin" type="udt:DateTimeType"/>
			<xsd:element name="RelativeNumberOfDaysMax" type="udt:DateTimeType"/>
			<xsd:element name="RefCulturalPracticeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="RefTemperatureSum" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="RefCropStage" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecifiedClassificationType">
		<xsd:sequence>
			<xsd:element name="ClassCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="ClassName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="CountryID" type="ccts:ISOTwoletterCountryCodeIdentifierContentType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecifiedCommunicationType">
		<xsd:sequence>
			<xsd:element name="URI" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="CompleteNumber" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecifiedPartyType">
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"/>
			<xsd:element name="Name" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Country" type="ccts:ISOTwoletterCountryCodeIdentifierContentType" minOccurs="0"/>
			<xsd:element name="PostalAddress" type="crps:StructuredAddressType" minOccurs="0"/>
			<xsd:element name="VisitorsAddress" type="crps:StructuredAddressType" minOccurs="0"/>
			<xsd:element name="PartyContact" type="crps:PartyContactType" minOccurs="0"/>
			<xsd:element name="Website" type="crps:SpecifiedCommunicationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StructuredAddressType">
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="PostcodeCode" type="udt:CodeType"/>
			<xsd:element name="BuildingName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="StreetName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="CityName" type="udt:TextType"/>
			<xsd:element name="Country" type="ccts:ISOTwoletterCountryCodeIdentifierContentType"/>
			<xsd:element name="CountryName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="PostOfficeBox" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencedCountryType">
		<xsd:sequence>
			<xsd:element name="Name" type="udt:TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TreatmentZoneType">
		<xsd:sequence>
			<xsd:element name="TreatmentZoneID" type="udt:IDType"/>
			<xsd:element name="ThirdPartyTreatmentZoneID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Area" type="crps:MeasureType" minOccurs="0"/>
			<xsd:element name="Border" type="gmlc:PolygonType" minOccurs="0"/>
			<xsd:element name="ProductAllocation" type="crps:AllocationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
