simple/resources/EDI-Crop-CropRecording_v4_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Conny Graumans (EDI Agro Vereniging) -->
<!-- 130501, CG: eerste aanzet.-->
<!-- 130530, CG: crop aangepast in crpr-->
<!-- 130708, CG: qdt en ram verwijzingen verwijderd ivm out of memory inlezen wsdl's-->
<!-- 130715, CG: crpp.QuantityType vervangen door crpp.ANLQuantityType-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:crpr="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/EDI-Crop-CropRecording_v4_0" xmlns:cdt="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/SimpleTypes_EDI-Crop_v4_0" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" xmlns:ccts="urn:un:unece:uncefact:identifierlist:standard:5:ISO316612A:SecondEdition2006VI-8" targetNamespace="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/EDI-Crop-CropRecording_v4_0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="8.0">
	<xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" schemaLocation="http://www.unece.org/uncefact/data/standard/UnqualifiedDataType_10p0.xsd"/>
	<xsd:import namespace="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/SimpleTypes_EDI-Crop_v4_0" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/SimpleTypes_EDI-Crop_v4_0.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:identifierlist:standard:5:ISO316612A:SecondEdition2006VI-8" schemaLocation="http://www.unece.org/uncefact/identifierlist/standard/ISO_ISOTwoletterCountryCode_SecondEdition2006VI-8.xsd"/>
	<xsd:element name="CropRecordingMessage" type="crpr:CropRecordingMessageType"/>
	<xsd:complexType name="AbstractRingPropertyType">
		<xsd:sequence>
			<xsd:element name="LinearRing" type="crpr:LinearRingType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdvisedMineralsFarmType">
		<xsd:sequence>
			<xsd:element name="AdvisedNitrogenOrganic" type="cdt:Decimal12Type"/>
			<xsd:element name="AdvisedNitrogenTotal" type="cdt:Decimal12Type"/>
			<xsd:element name="AdvisedPhosphateOrganic" type="cdt:Decimal12Type"/>
			<xsd:element name="AdvisedPhosphateTotal" type="cdt:Decimal12Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AllocationType">
		<xsd:sequence>
			<xsd:element name="AllocationID" type="udt:IDType"/>
			<xsd:element name="ThirdPartyAllocationID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AllocationType" type="udt:CodeType"/>
			<xsd:element name="ProductCode" type="udt:CodeType"/>
			<xsd:element name="ProductDesignator" type="udt:TextType"/>
			<xsd:element name="Quantity" type="crpr:ANLQuantityType"/>
			<xsd:element name="BatchID" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="BatchThirdPartyID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Area" type="cdt:Decimal10_2Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ANLQuantityType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="unitCode" type="cdt:unitCodeType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AllowedMineralsFarmType">
		<xsd:sequence>
			<xsd:element name="AllowedNitrogenOrganic" type="cdt:Decimal12Type"/>
			<xsd:element name="AllowedNitrogenTotal" type="cdt:Decimal12Type"/>
			<xsd:element name="AllowedPhosphateOrganic" type="cdt:Decimal12Type"/>
			<xsd:element name="AllowedPhosphateTotal" type="cdt:Decimal12Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CertificateType">
		<xsd:sequence>
			<xsd:element name="CertificateID" type="udt:IDType"/>
			<xsd:element name="CertificateDesignator" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="ValidityStartDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="ValidityEndDate" type="udt:DateTimeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompositionType">
		<xsd:sequence>
			<xsd:element name="ProductElementCode" type="udt:CodeType"/>
			<xsd:element name="ProductElementDesignator" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Quantity" type="cdt:Decimal8_2Type"/>
			<xsd:element name="ConcentrationCode" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactPersonType">
		<xsd:sequence>
			<xsd:element name="FamilyName" type="udt:TextType"/>
			<xsd:element name="GivenName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="FamilyNamePrefix" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Title" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContractType">
		<xsd:sequence>
			<xsd:element name="ContractID" type="udt:IDType"/>
			<xsd:element name="ContractDate" type="udt:DateTimeType"/>
			<xsd:element name="ContractPartyName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="ThirdPartyFarmID" type="udt:IDType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CropRecordingMessageType">
		<xsd:sequence>
			<xsd:element name="ExchangedDocument" type="crpr:DocumentType"/>
			<xsd:element name="Farm" type="crpr:FarmType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CropFieldType">
		<xsd:sequence>
			<xsd:element name="CropFieldID" type="udt:IDType"/>
			<xsd:element name="CropFieldDesignator" type="udt:TextType"/>
			<xsd:element name="ThirdPartyCropFieldID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BeginDate" type="udt:DateTimeType"/>
			<xsd:element name="EndDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="CertificateIDRef" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ContractIDRef" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Country" type="ccts:ISOTwoletterCountryCodeIdentifierContentType"/>
			<xsd:element name="Area" type="cdt:Decimal10_2Type"/>
			<xsd:element name="RegulatorySoiltypeCode" type="udt:CodeType"/>
			<xsd:element name="SoilObservation" type="crpr:PropertyZoneType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CropTypeCode" type="udt:CodeType"/>
			<xsd:element name="VarietyCode" type="udt:CodeType"/>
			<xsd:element name="ProductionTypeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="CropProductionPurposeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="CropProductionSequence" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="PrecedingCropField" type="crpr:PrecedingCropFieldType" minOccurs="0"/>
			<xsd:element name="CropFieldCharacteristic" type="crpr:PropertyVariableType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ExtremeWeatherCondition" type="crpr:PropertyVariableType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Border" type="crpr:PolygonType" minOccurs="0"/>
			<xsd:element name="Operation" type="crpr:OperationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ProduceDelivery" type="crpr:DeliveryType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeliveryType">
		<xsd:sequence>
			<xsd:element name="DeliveryNoteID" type="udt:IDType"/>
			<xsd:element name="DeliveryDateTime" type="udt:DateTimeType"/>
			<xsd:element name="DeliveryNoteQuantity" type="crpr:ANLQuantityType"/>
			<xsd:element name="DeliveryLocationID" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="DeliveryLocationName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="DeliveryCharacteristic" type="crpr:PropertyVariableType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeliveryCharacteristicType">
		<xsd:sequence>
			<xsd:element name="DeliveryCharacteristicCode" type="udt:CodeType"/>
			<xsd:element name="DeliveryCharacteristicValue" type="udt:TextType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DirectPositionListType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="srsName"/>
				<xsd:attribute name="srsDimension"/>
				<xsd:attribute name="axisLabels"/>
				<xsd:attribute name="uomLabels"/>
				<xsd:attribute name="count"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentType">
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"/>
			<xsd:element name="Type" type="cdt:MessageTypeType"/>
			<xsd:element name="EdiCropVersion" type="cdt:EdiCropVersionType"/>
			<xsd:element name="MessageTypeVersion" type="cdt:MessageTypeVersionType"/>
			<xsd:element name="IssueDate" type="udt:DateTimeType"/>
			<xsd:element name="CropYear" type="cdt:Decimal4Type"/>
			<xsd:element name="ReportCount" type="udt:NumericType" minOccurs="0"/>
			<xsd:element name="Description" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="LineItem" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Issuer" type="crpr:SpecifiedPartyType"/>
			<xsd:element name="Sender" type="crpr:SpecifiedPartyType"/>
			<xsd:element name="Receiver" type="crpr:SpecifiedPartyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmailCommunicationType">
		<xsd:sequence>
			<xsd:element name="URIID" type="udt:IDType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExactTimingType">
		<xsd:sequence>
			<xsd:element name="BeginDate" type="udt:DateTimeType"/>
			<xsd:element name="EndDate" type="udt:DateTimeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FarmClassificationType">
		<xsd:sequence>
			<xsd:element name="ClassificationCode" type="udt:CodeType"/>
			<xsd:element name="ClassificationIndicator" type="cdt:YesNoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FarmType">
		<xsd:sequence>
			<xsd:element name="FarmContact" type="crpr:SpecifiedPartyType"/>
			<xsd:element name="ThirdPartyFarmID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Certificate" type="crpr:CertificateType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Contract" type="crpr:ContractType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Field" type="crpr:FieldType" maxOccurs="unbounded"/>
			<xsd:element name="Product" type="crpr:ProductType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FieldType">
		<xsd:sequence>
			<xsd:element name="FieldID" type="udt:IDType"/>
			<xsd:element name="FieldDesignator" type="udt:TextType"/>
			<xsd:element name="ThirdPartyFieldID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BeginDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="EndDate" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="Area" type="udt:MeasureType"/>
			<xsd:element name="RegulatorySoiltypeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="RegularOrOrganicCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="Border" type="crpr:PolygonType" minOccurs="0"/>
			<xsd:element name="CropField" type="crpr:CropFieldType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GridpointType">
		<xsd:sequence>
			<xsd:element name="GridIDRef" type="udt:IDType"/>
			<xsd:element name="X" type="udt:TextType"/>
			<xsd:element name="Y" type="udt:TextType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GUIDType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="IssuingAgency" type="cdt:IssuingAgencyType"/>
				<xsd:attribute name="EnterpriseID" type="cdt:EnterpriseIDType"/>
				<xsd:attribute name="ItemIdType" type="cdt:ItemIdTypeType"/>
				<xsd:attribute name="ItemIdNumber" type="cdt:ItemIdNumberType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LinearRingType">
		<xsd:sequence>
			<xsd:element name="posList" type="crpr:DirectPositionListType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MultiSurfaceType">
		<xsd:choice>
			<xsd:element name="Polygon" type="crpr:PolygonType" minOccurs="0"/>
			<xsd:element name="Gridpoint" type="crpr:GridpointType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="NutrientBalanceCropType">
		<xsd:sequence>
			<xsd:element name="AllowedNitrogenTotal" type="cdt:Decimal12Type"/>
			<xsd:element name="AllowedPhosphateTotal" type="cdt:Decimal12Type"/>
			<xsd:element name="AllowedPhosphateOrganic" type="cdt:Decimal12Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NutrientBalanceFarmType">
		<xsd:sequence>
			<xsd:element name="BalanceNitrogenOrganic" type="cdt:Decimal12Type"/>
			<xsd:element name="BalanceNitrogenTotal" type="cdt:Decimal12Type"/>
			<xsd:element name="BalancePhosphateOrganic" type="cdt:Decimal12Type"/>
			<xsd:element name="BalancePhosphateTotal" type="cdt:Decimal12Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObservationType">
		<xsd:sequence>
			<xsd:element name="ObservationID" type="udt:IDType"/>
			<xsd:element name="PropertyVariableCode" type="udt:CodeType"/>
			<xsd:element name="PropertyVariableValue" type="udt:MeasureType"/>
			<xsd:element name="ObservationActualStartDateTime" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="ObservationActualEndDateTime" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="RelativeBeginHeight" type="udt:MeasureType" minOccurs="0"/>
			<xsd:element name="RelativeEndHeight" type="udt:MeasureType" minOccurs="0"/>
			<xsd:element name="RelativeHeight" type="udt:MeasureType" minOccurs="0"/>
			<xsd:element name="SampleProtocol" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="AnalysedMethodLocalTypeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="Border" type="crpr:PolygonType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OperationType">
		<xsd:sequence>
			<xsd:element name="OperationID" type="udt:IDType"/>
			<xsd:element name="ThirdPartyOperationID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OperationStage" type="udt:CodeType"/>
			<xsd:element name="CulturalPracticeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="OperationTechniqueCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="TaskTypeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="ExactTiming" type="crpr:ExactTimingType" minOccurs="0"/>
			<xsd:element name="TreatmentZone" type="crpr:TreatmentZoneType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyContactType">
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"/>
			<xsd:element name="PersonName" type="udt:TextType"/>
			<xsd:element name="DepartmentName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="JobTitle" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Responsibility" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Type" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="AdditionalIdentification" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Telephone" type="crpr:SpecifiedCommunicationType" minOccurs="0"/>
			<xsd:element name="MobileTelephone" type="crpr:SpecifiedCommunicationType" minOccurs="0"/>
			<xsd:element name="Fax" type="crpr:SpecifiedCommunicationType" minOccurs="0"/>
			<xsd:element name="Email" type="crpr:SpecifiedCommunicationType" minOccurs="0"/>
			<xsd:element name="ContactPerson" type="crpr:ContactPersonType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhosphateConditionType">
		<xsd:sequence>
			<xsd:element name="ArablelandPhosphatePoor" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="ArablelandPhosphateLow" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="ArablelandPhosphateNeutral" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="ArablelandPhosphateHigh" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="GrasslandPhosphatePoor" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="GrasslandPhosphateLow" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="GrasslandPhosphateNeutral" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="GrasslandPhosphateHigh" type="cdt:Decimal6Type" minOccurs="0"/>
			<xsd:element name="PhosphateTransferOrganicNextYear" type="cdt:Decimal12Type" minOccurs="0"/>
			<xsd:element name="PhosphateTransferTotalNextYear" type="cdt:Decimal12Type" minOccurs="0"/>
			<xsd:element name="PhosphateTransferOrganicPreviousYear" type="cdt:Decimal12Type" minOccurs="0"/>
			<xsd:element name="PhosphateTransferTotalPreviousYear" type="cdt:Decimal12Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PolygonType">
		<xsd:sequence>
			<xsd:element name="exterior" type="crpr:AbstractRingPropertyType"/>
			<xsd:element name="interior" type="crpr:AbstractRingPropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrecedingCropFieldType">
		<xsd:sequence>
			<xsd:element name="PrecedingCropFieldID" type="udt:IDType"/>
			<xsd:element name="Area" type="cdt:Decimal10_2Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductType">
		<xsd:sequence>
			<xsd:element name="AllocationType" type="udt:CodeType"/>
			<xsd:element name="ProductID" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="ProductDesignator" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="RegulatoryWorkingCoefficient" type="cdt:Decimal8_2Type" minOccurs="0"/>
			<xsd:element name="AgronomicWorkingCoefficient" type="cdt:Decimal8_2Type" minOccurs="0"/>
			<xsd:element name="Quantity" type="crpr:ANLQuantityType" minOccurs="0"/>
			<xsd:element name="AmountPerAreaUnit" type="crpr:ANLQuantityType" minOccurs="0"/>
			<xsd:element name="Composition" type="crpr:CompositionType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropertyVariableType">
		<xsd:sequence>
			<xsd:element name="PropertyVariableCode" type="udt:CodeType"/>
			<xsd:element name="PropertyVariableValue" type="udt:TextType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropertyValueType">
		<xsd:sequence>
			<xsd:element name="PropertyVariableCode" type="udt:CodeType"/>
			<xsd:element name="StartTime" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="StopTime" type="udt:DateTimeType" minOccurs="0"/>
			<xsd:element name="Duration" type="udt:MeasureType" minOccurs="0"/>
			<xsd:element name="AnalysesMethodCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="Value" type="udt:MeasureType" minOccurs="0"/>
				<xsd:element name="Quantity" type="udt:MeasureType" minOccurs="0"/>
				<xsd:element name="Rate" type="udt:MeasureType" minOccurs="0"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropertyZoneType">
		<xsd:sequence>
			<xsd:element name="PropertyZoneID" type="udt:IDType"/>
			<xsd:element name="PropertyZoneDesignator" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="PropertyValue" type="crpr:PropertyValueType" maxOccurs="unbounded"/>
			<xsd:element name="VerticalLayer" type="crpr:VerticalLayerType" minOccurs="0"/>
			<xsd:element name="PropertyZoneSurface" minOccurs="0">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="crpr:MultiSurfaceType"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RelativeTimingType">
		<xsd:sequence>
			<xsd:element name="MinimumTimeDifference" type="udt:DateTimeType"/>
			<xsd:element name="MaximumTimeDifference" type="udt:DateTimeType"/>
			<xsd:element name="CulturalPracticeCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="TemperatureSum" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="CropStage" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="OperationIDREF"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencedCountryType">
		<xsd:sequence>
			<xsd:element name="Name" type="udt:TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecifiedCommunicationType">
		<xsd:sequence>
			<xsd:element name="URI" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="CompleteNumber" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecifiedPartyType">
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"/>
			<xsd:element name="Name" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="Country" type="ccts:ISOTwoletterCountryCodeIdentifierContentType" minOccurs="0"/>
			<xsd:element name="PostalAddress" type="crpr:StructuredAddressType" minOccurs="0"/>
			<xsd:element name="VisitorsAddress" type="crpr:StructuredAddressType" minOccurs="0"/>
			<xsd:element name="PartyContact" type="crpr:PartyContactType" minOccurs="0"/>
			<xsd:element name="Website" type="crpr:SpecifiedCommunicationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StructuredAddressType">
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType" minOccurs="0"/>
			<xsd:element name="PostcodeCode" type="udt:CodeType"/>
			<xsd:element name="BuildingName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="StreetName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="CityName" type="udt:TextType"/>
			<xsd:element name="Country" type="ccts:ISOTwoletterCountryCodeIdentifierContentType"/>
			<xsd:element name="CountryName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="PostOfficeBox" type="udt:TextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecifiedClassificationType">
		<xsd:sequence>
			<xsd:element name="ClassCode" type="udt:CodeType" minOccurs="0"/>
			<xsd:element name="ClassName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="CountryID" type="ccts:ISOTwoletterCountryCodeIdentifierContentType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TreatmentCharacteristicType">
		<xsd:sequence>
			<xsd:element name="TreatmentCharacteristicCode" type="udt:CodeType"/>
			<xsd:element name="TreatmentCharacteristicValue" type="udt:TextType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TreatmentZoneType">
		<xsd:sequence>
			<xsd:element name="TreatmentZoneID" type="udt:IDType"/>
			<xsd:element name="ThirdPartyTreatmentZoneID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TreatmentCharacteristic" type="crpr:PropertyVariableType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Area" type="cdt:Decimal10_2Type" minOccurs="0"/>
			<xsd:element name="Border" type="crpr:PolygonType" minOccurs="0"/>
			<xsd:element name="ProductAllocation" type="crpr:AllocationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ProduceAllocation" type="crpr:AllocationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VerticalLayerType">
		<xsd:sequence>
			<xsd:element name="RelativeBeginHeight" type="udt:MeasureType" minOccurs="0"/>
			<xsd:element name="RelativeEndHeight" type="udt:MeasureType" minOccurs="0"/>
			<xsd:element name="AbsoluteBeginHeight" type="udt:MeasureType" minOccurs="0"/>
			<xsd:element name="AbsoluteEndHeight" type="udt:MeasureType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
