simple/resources/SimpleTypes_EDI-Crop_v4_0.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Conny Graumans (EDI Agro Vereniging) -->
<!-- 12apr12, CG: eerste versie Domains.xsd voor EDI-Teelt v4.0 opgeleverd -->
<!-- 15jul13, CG:  MessageTypeType enumeration CRPREC toegevoegd-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cdt="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/SimpleTypes_EDI-Crop_v4_0" targetNamespace="http://www.agroconnect.nl/Portals/10/XSDs/XSDs_EDI_Crop/v4_0/SimpleTypes_EDI-Crop_v4_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:simpleType name="EdiCropVersionType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:enumeration value="CRP4.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal3Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FarmClassificationCodeType">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="3"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal4Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal4_1Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="4"/>
			<xsd:fractionDigits value="1" fixed="true"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal5Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal5_1Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="1" fixed="true"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal6Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal8Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal8_2Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="8"/>
			<xsd:fractionDigits value="2" fixed="true"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal9Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal10_2Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="10"/>
			<xsd:fractionDigits value="2" fixed="true"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal12Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DimensionType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnterpriseIDType">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IssuingAgencyType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:enumeration value="AGRONL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="unitCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:enumeration value="KGHA"/>
			<xsd:enumeration value="TONHA"/>
			<xsd:enumeration value="LTRHA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SectorIdType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:enumeration value="AGRONL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MessageTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:enumeration value="CRPADV"/>
			<xsd:enumeration value="CRPSCH"/>
			<xsd:enumeration value="CRPREC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MessageTypeVersionType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="4.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NameSpaceType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:enumeration value="AGRONL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NationalSubsidiaryIsAgType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:enumeration value="NLAGRO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ItemIdNumberType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ItemIdTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="FRM"/>
			<xsd:enumeration value="FLD"/>
			<xsd:enumeration value="CFD"/>
			<xsd:enumeration value="AFD"/>
			<xsd:enumeration value="OPR"/>
			<xsd:enumeration value="TRZ"/>
			<xsd:enumeration value="REG"/>
			<xsd:enumeration value="PRT"/>
			<xsd:enumeration value="ALL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String1Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String2Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String3Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String6Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String8Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String10Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String12Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String14Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String15Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String17Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String20Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String25Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String30Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String50Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String57Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="57"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String100Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String200Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String500Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypePercentageType">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="7"/>
			<xsd:fractionDigits value="3" fixed="true"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeUtcDateTime">
		<xsd:annotation>
			<xsd:documentation>Datetime in UTC format(yyyy-MM-ddThh:mm:ss)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="19"/>
			<xsd:minLength value="19"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YearType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YesNoType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeIdentType">
		<xsd:annotation>
			<xsd:documentation>Type of relation identification.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ubnnummer"/>
			<xsd:enumeration value="relatienummer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeMessageId">
		<xsd:annotation>
			<xsd:documentation>Unique ID from message on system.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeMessageCode">
		<xsd:annotation>
			<xsd:documentation>Codelist for message types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CROPREC"/>
			<xsd:enumeration value="CROPSCH"/>
			<xsd:enumeration value="CROPADV"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeMessageContent">
		<xsd:annotation>
			<xsd:documentation>Messagecontent(ADIS EDI-Pigs) in CDATA Tag!</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TypeMessageNumber">
		<xsd:annotation>
			<xsd:documentation>Order number from message.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="9999"/>
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypePassword">
		<xsd:annotation>
			<xsd:documentation>Password for service.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:hexBinary">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeAuthenticationtoken">
		<xsd:annotation>
			<xsd:documentation>Authenticationtoken for service.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="StatusCodeType">
		<xsd:annotation>
			<xsd:documentation>Status code off service.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="000"/>
			<xsd:maxInclusive value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
